{% load static %}
<html>
    <head>
        <title>
            Employee Management System
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <body>
         <div class="container">
         {% block content %}
         {% endblock content %}
        </div>
  
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </body>
    </head>
</html>